html{
	box-sizing:border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
	font-family:'Roboto', sans-serif;
}

.top-nav{
	
	background-color:#fff;
	position:fixed;
	border-bottom: 1px solid #ddd;
	width:1349px;
} 

#navbar{
	width: 60%;
	height:71px;
	margin: 0 auto;
	padding: 0 15px;
	font-family:'Roboto', sans-serif;
	font-size: 16px;
	color:#838994;
	letter-spacing:0.03em;
}

img.logo{
	width: 26px;
	height:70px;
}

#navbar ul {
	list-style-type:none;
	float:right;
	margin-top:25px;
	-webkit-font-smoothing: antialiased;
}

#navbar li{
	display: inline-block;
	margin-left:25px;
}

#navbar ul span{
	color: #4c5058;
	font-weight: 600;
}

#navbar li:hover{
	cursor:pointer;
	color:#333333;
}

.backgroundimage{
	display:block;
	background-image: url('../images/karmabackground.jpg');
	background-position: center bottom;
	background-repeat:none;
	background-size:cover;
	background-position:center;
	height:45.938rem;
	padding:0 0.938rem;
	margin:0 auto;
	overflow:auto;
	vertical-align: baseline;
}

.backgroundimage h1, .backgroundimage h3{
	text-align:center;
	color:white;
	font-weight:300;
}

.backgroundimage h1{
	margin-top:17.5rem;
	font-size:3.125rem;
}

.backgroundimage h3{
	margin-top:1.25rem
	font-size:1.563rem;
}

p.button{
	display:block;
	margin:0 auto;
	width:9.688rem;
	background-color:#f15a29;
	border-radius:4px;
	padding: 1rem 1.5rem;
	color:white;
	font-size:1.125rem;
	text-align:center;
}

.backgroundimage p:hover{
	cursor:pointer;
	background-color:#f14a29;
}
